body {
  background-image: url("./img/loan.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card {

  box-shadow: 2px 2px 15px 7px black;
  position: relative;
 
 
}

.loading-img {

  background-image: url("./img/loading.gif");

  height: 192px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: none;
}
.resultat {
  display: none;
}
.divEle {
  position: absolute;
  width: 100%;

}